@{
    Layout = "_PartialModel";
}

@section Content {
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @RenderSection("ModelInput", required: true)
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-success"/>
            </div>
        </form>
    </div>
}

@section Footer {
    <a asp-action="Index">Zurück zur Liste</a>
}