@{
    Layout = "_PartialModel";
}

@section Content 
{
    <div class="card-body">
        @if (IsSectionDefined("ModelExtra"))
        {
            @RenderSection("ModelExtra")
        }
    
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @RenderSection("ModelInput", required: true)
    </div>

    <div class="card-body pl-3 pr-0 pt-0 pb-0">
        <div class="form-group">
            <input type="submit" value="Speichern" class="btn btn-warning" />
        </div>
    </div>
}

@section Footer 
{
    <a asp-action="Index">Zurück zur Liste</a>
}

