@{
    Layout = "_PartialModel";
}

@section Content 
{
    <div class="card-body">
        <dl class="dl-horizontal">
            @RenderSection("ModelElements", required: true)
        </dl>
    </div>
}

@section Footer 
{
    <a asp-action="Index">Zurück zur Liste</a>
}
